# Grafana Cloud PDC Token (Copy from Grafana Cloud PDC configuration page)
# DO NOT COMMIT YOUR REAL .env FILE TO GIT (It is already added to .gitignore)
GRAFANA_PDC_TOKEN=your_grafana_pdc_token_here
